<!DOCTYPE html>
<html>
<head>
    <title>Blockchain Explorer</title>
</head>
<body>
    {% if is_admin %}
        <h1>Blockchain Explorer</h1>
        <a href="{{ url_for('logout') }}">Logout</a><br><br>
        <ul>
            {% for block in blockchain %}
                <li>Block {{ block.block_index }} - {{ block.timestamp }} - Hash: {{ block.hash }}</li>
            {% endfor %}
        </ul>
    {% else %}
        <h2>Welcome, {{ session['username'] }}!</h2>
        <a href="{{ url_for('logout') }}">Log Out</a>
        <h3>Uploaded Files:</h3>
        <ul>
            {% for file in files %}
                <li>{{ file }} <form action="/delete" method="post"><input type="hidden" name="filename" value="{{ file }}"><input type="submit" value="Delete"></form></li>
            {% endfor %}
        </ul>
        <h3>Upload New File:</h3>
            <form action="/upload" method="post" enctype="multipart/form-data">
                <input type="file" id="upload" name="file" >
                <button type="submit" id="submit" >Upload</button>
            </form>
    {% endif %}
</body>
</html>
